<div class="bs-mobile wide-details">

  <div class="wide-inner">
    <svg class="svg_h1">
      <use xlink:href="#svg_mobile"></use>
    </svg>
    <h1>
      Backstop Mobile
    </h1>

    <p>
      Backstop Mobile is an extension of the Backstop CRM product. It provides on the go access to the core functionality of the platform. The project started as a dream between my CTO, an engineer and myself to revamp our tired Blackberry optimized mobile web service. I created the intial pitch deck that was passed around and garnered attention for the project.
    </p>
  </div>
  <img src="<%= asset_path 'mobile_pitchdeck3.jpg' %>" class="mobile-i"/>
  <h4 class="desc">
    Screenshot from the pitchdeck and images of the final product.
  </h4>
  <div class="wide-inner">
    <p>
      Fast forward a few months, and Backstop began consulting with Solstice Mobile to release a hybrid app on both the iOS and Android platforms. We brought in an external team to shorten our product to market time and have access to their mobile expertise. This was a very fast and agile product delivery and a wonderful experience working with team members from both companies sharing process, offices, and best practices. We used this interdisciplinary team to develop a product with sophisticated yet intuitive interactions and design patterns.
    </p>
  </div>
  <img src="<%= asset_path 'mobile_contact.png' %>" class="mobile-i"/>
  <h4 class="desc">
    Examples of design patterns we were considering for the contact card.
  </h4>
  <div class="wide-inner">
    <p>
      A big piece of the application was not only allowing our users to retrieve information on the go, but giving them the ability to add new entities and data into the system. The team heavily iterated over the form fields and creation aspect of the application.  We worked through a range of designs and formats and delivered clean reusable patterns for each type of data.  Single line inputs, multi selectors, phone inputs and text blocks were all treated as unique experiences and optimized for the most efficient workflow.
    </p>
    <ul class="bxslider">
      <li><img src="<%= asset_path 'FormComps/Slide1.jpg' %>" /></li>
      <li><img src="<%= asset_path 'FormComps/Slide2.jpg' %>" /></li>
      <li><img src="<%= asset_path 'FormComps/Slide3.jpg' %>" /></li>
      <li><img src="<%= asset_path 'FormComps/Slide4.jpg' %>" /></li>
      <li><img src="<%= asset_path 'FormComps/Slide5.jpg' %>" /></li>
      <li><img src="<%= asset_path 'FormComps/Slide6.jpg' %>" /></li>
      <li><img src="<%= asset_path 'FormComps/Slide7.jpg' %>" /></li>
      <li><img src="<%= asset_path 'FormComps/Slide8.jpg' %>" /></li>
    </ul>
    <h4 class="desc">
      Forms and data input design patterns used throughout the app.
    </h4>
    <p>
      As the Product Designer I worked on wireframes, interaction design, user experience, and a design compositions for the application. I interfaced between internal stakeholders, product management, the scrum master, designers and engineers to bring out the final interface and interactions for the application.  We facilitated continuous user feedback within our iterations using interactive Balsamiq wireframes, user testing and group forums. My final deliverables included redlined designs, native assets, and a new SVG icon library for the hybrid portion of the application.
    </p>
    </div>
  <img src="<%= asset_path 'mobile_final.jpg' %>" class="wide-image"/>
  <h4 class="desc">
    Screen shots of the final application and svg icon library examples.
  </h4>
  <div class="wide-inner">
  <p>
    I worked with our Product Management and Marketing teams on our go to market strategy, and presented the new product at our annual user conference (BUC FEST). We created a range off assets for our sales team including a mobile landing page on the company website, demo instance, and sales video.  At 6 months after launch we have seen 300% growth of our end users accessing the application and a 98% decline in the use of the old application.  The internal team continues to iterate on the product and add new functionality.  As of 1/1/2015 we have released version 1.5.
    </p>
    <p class="button-links">
    <a href="https://www.backstopsolutions.com/mobile" class="button">
      <svg class="svg_button">
        <use xlink:href="#svg_backstop_hover"></use>
      </svg>
      Visit the Website
    </a>
    <br>
    <a href="https://www.backstopsolutions.com/mobile-sales" class="button">
      <svg class="svg_button">
        <use xlink:href="#svg_play"></use>
      </svg>
      Watch the Video
    </a>
    <br>
    <a href="https://itunes.apple.com/us/app/backstop-mobile/id914065554?mt=8" class="button">
      <svg class="svg_button">
        <use xlink:href="#svg_appstore"></use>
      </svg>
      App Store
    </a>
    <br>
    <a href="https://play.google.com/store/apps/details?id=org.BackstopSolutions.BM&hl=en" class="button">
      <svg class="svg_button">
        <use xlink:href="#svg_android"></use>
      </svg>
      Google Play
    </a>
    </p>
  </div>
  <div class="wide-inner">
    <%= render :partial => 'layouts/project_list' %>
  </div>
</div>

<script>
$(function() {
    //$(window).load(function(){
        $('.bxslider').bxSlider();
    //});
});
</script>